<%= form_with(model: workshop, local: true) do |form| %>
  <% if workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workshop.errors.count, "error") %> prohibited this workshop from being saved:</h2>

      <ul>
      <% workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name, id: :workshop_name %>
  </div>
  
  <%= form.label :palestrante %>
  <%= form.select :speaker_id, @speakers.collect { |speaker| [speaker.name,speaker.id] }%><br />

  <div class="field">
    <%= form.label "início" %>
    <%= form.datetime_select :start, id: :workshop_start %>
  </div>

  <div class="field">
    <%= form.label "término" %>
    <%= form.datetime_select :finish, id: :workshop_finish %>
  </div>
  
  <div class="field">
    <%= form.label :arquivos %>
    <%= form.file_field :file, id: :workshop_file %>
  </div>
  
  <div class="actions">
    <%= form.submit "Atualizar Palestra" %>
  </div>
<% end %>
