<% provide(:title, "Editor | ")%>
<div id="data-table">

<h1>Editar Palestra</h1>

<%= render 'form', workshop: @workshop %>

<%= link_to 'Mostrar', @workshop %> |
<%= link_to 'Voltar', workshops_path %>

</div>
