<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Palestras">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Início</Data></Cell>
        <Cell><Data ss:Type="String">Término</Data></Cell>
      </Row>
    <% @workshops.each do |workshop| %>
      <Row>
        <Cell><Data ss:Type="String"><%= workshop.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= workshop.start %></Data></Cell>
        <Cell><Data ss:Type="String"><%= workshop.finish %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>