<% provide(:title, "Palestras | ")%>
<p id="notice"><%= notice %></p>

<h1>Palestras</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Início</th>
      <th>Término</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.name %></td>
        <td><%= workshop.start %></td>
        <td><%= workshop.finish %></td>
        <td><%= link_to 'Mostrar', workshop %></td>
        <td><%= link_to 'Editar', edit_workshop_path(workshop) %></td>
        <td><%= link_to 'Destruir', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @workshops %>
<%= link_to 'Nova Palestra', new_workshop_path %>
<br>
<%= link_to "Baixar Tabela", workshops_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>