<% provide(:title, "Palestra | ")%>
<div id="data-table">
<p id="notice"><%= notice %></p>

<p><br>
  <strong>Nome:</strong>
  <%= @workshop.name %>
</p><br>

<p>
  <strong>Início das Inscrições:</strong>
  <%= @workshop.start %>
</p><br>

<p>
  <strong>Final das Inscrições:</strong>
  <%= @workshop.finish %>
</p><br>

<%= link_to 'Editar', edit_workshop_path(@workshop) %> |
<%= link_to 'Voltar', workshops_path %>
</div>