<% provide(:title, "Login | ")%>
<div class="container">
    <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/822789/profile/profile-512.jpg"><br>
    <div class="title">Área do congressista</div><br>

    <%= form_for :session do |f| %>
      <%= f.text_field :email, :id => "input", :placeholder => "Email", :class => "email" %><br />
      <%= f.password_field :password,  :id => "input", :placeholder => "Senha", :class => "password"%>
      <br />
      <br />
      
      
      <%= f.submit "ENTRAR", :class => "button" %>
      <br />
      <br />
      
    <% end %>
    
    <br />
    <%= link_to "Nova Inscrição", new_user_path, :class => "sing-up" %>
    <%= link_to "Esqueceu sua senha?", password_recovery_path, :class => "forgot" %>
    
    <br />
    <a href="#" class="fblogin"><span>Entre com o facebook</span></a>

</div>