<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @greeting %>
    </p>
    <p>
      Esse email é sua confirmação de inscrição no sistema EFEJ!
    </p>
  </body>
</html>