<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @greeting %>
    </p>
    <p>
      Sua nova senha é <%= @new_password %>
    </p>
  </body>
</html>