<%= form_with(model: @user, local: true) do |form| %>
  <header>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </header>
  
  <%= form.text_field :name, id: :user_name, :placeholder => "Nome", :class => "nome", :type => "name" %><br>
  <%= form.text_field :email, id: :user_email, :placeholder => "Email", :class => "email", :type => "email" %><br>
  <%= form.password_field :password, id: :user_password, :placeholder => "Senha", :class => "password", :type => "password" %><br>
  <%= form.password_field :password_confirmation, id: :user_password_confirmation, :placeholder => "Confirme sua senha", :class => "password", :type => "password" %><br>

  <% if @user.persisted? %>
    <%= form.text_field :telephone, id: :user_telephone, :placeholder => "Telefone", :class => "nome", :type => "name" %><br>
    <p>Adicionar Foto:</p> <%= form.file_field :profile_photo %><br />
    <%= form.submit "SALVAR" , :class => "button" %>
  <% else %>
    <p class="ej-escolha">Escolha sua EJ:</p><br>
    <%= form.select :ej_id, @ejs.collect { |ej| [ej.name,ej.id] }, {}, {:class => "ej-select" }%><br />
    <%= form.submit "CRIAR CONTA" , :class => "button" %>
  <% end %>
  
<% end %>
