<% if !UserInscriptionWorkshop.find_by(user_id: current_user.id, workshop_id: @workshop.id) %>
     <%= link_to 'Escolher', set_register_path(att: {:action => "do", :workshop_id => @workshop.id}), method: :post, id: "registro#{@workshop.id}", class: "btn-palestra", remote: true, authencity_token: true  %>
<% else %>
    <%= link_to 'Sair', set_register_path(att: {:action => "undo", :workshop_id => @workshop.id}), method: :post, id: "registro#{@workshop.id}", class: "btn-palestra", remote: true, authencity_token: true  %>
<% end %>