<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Transferências">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Id</Data></Cell>
        <Cell><Data ss:Type="String">Transmissor</Data></Cell>
        <Cell><Data ss:Type="String">Receptor</Data></Cell>
      </Row>
    <% @transfers.each do |transfer| %>
      <Row>
        <Cell><Data ss:Type="String"><%= transfer.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transfer.transfer.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= transfer.receptor.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>