<% provide(:title, "Transferências | ")%>
<p id="notice"><%= notice %></p>

<h1>Histórico de Transferências</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Transmissor</th>
      <th>Receptor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.id %></td>
        <td><%= transfer.transfer.name %></td>
        <td><%= transfer.receptor.name %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @transfers %>
<br>
<%= link_to "Baixar Tabela", history_transfer_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>