<% provide(:title, "Usuários | ")%>
<p id="notice"><%= notice %></p>

<h1>Usuários</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>EJ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.ej.name %></td>
        <td><%= link_to 'Destruir', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @users %>
<br>
<%= link_to "Baixar Tabela", users_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>