<% provide(:title, "Acomodações | ")%>
<section id="acomodacoes">
    <% @hotels.each do |hotel| %>
        <div class="acomodacoes-usuario">
            <%= image_tag hotel.profile_photo_url(:thumb), :class => "img-hotel" if hotel.profile_photo.present? %>            
            <h2 class="nome-usuario"><%= hotel.name %></h2>
            <br>
            <p><%= hotel.content%></p>
            <br>
            <br>
            <br>
            <br>
            <%= form_with(model: @user, local: true) do |form| %>
              Room: <%= form.select :room_id, hotel.rooms.collect { |room| [room.num.to_s + " " + room.hotel.name, room.id] } %><br />
              
              <%= form.submit "Escolher", :class => "btn-hospedar" %>
            <% end %>
        </div>
    <% end %>
</section>
