<% provide(:title, "Novo Usuário | ")%>
<div class="container">
    <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/822789/profile/profile-512.jpg"><br>
    <div class="title">Inscrição</div><br>
    
    <%= render "form" %>
</div>
