<% provide(:title, "Recuperar Senha | ")%>
<div class="container">
    <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/822789/profile/profile-512.jpg"><br>
    <div class="title">Esqueceu sua senha?</div><br>
    <br>
    <br>
    
    <%= form_for :session do |f| %>
      <%= f.text_field :email, :id => "input", :placeholder => "Digite seu Email", :class => "email" %><br />
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= f.submit "ENVIAR", :class => "button" %>
    <% end %>

</div>