<% provide(:title, "Palestras | ")%>
<p id="notice"><%= notice %></p>

<section id="palestras">
   <% @workshops.each do |workshop| %>
    <div class="palestras-usuario">
        <%= image_tag workshop.speaker.profile_photo_url(:thumb), :class => "img-usuario" if workshop.speaker.profile_photo.present? %>
        <h2 class="nome-usuario"><%= workshop.name %></h2>
        <p><%= workshop.speaker.name %></p>
        <br>
        <p> <strong>Inscrições abrem em:</strong>
        <%=workshop.start %></p>
        <p><strong>Inscrições fecham em:</strong>
        <%= workshop.finish %></p>
        <br>
        <br>
        <br>
        <div class="prog-botoes">
            <%= link_to "Baixe o arquivo", workshop.file_url , class: "arquivos-usuario" if workshop.file.present? %>
                <br>
            
           
            <% @workshop = workshop %>
            <% if Date.today < workshop.finish && Date.today >= workshop.start  %>
                <%= render partial: "registration" %>
            <% else %>
               <p class="btn-palestra">Inscrições fechadas</p>
            <% end %>
        </div>
    </div>
   <% end %>
</section>

