<% provide(:title, "Home | ")%>
<div class="clear">
    
</div>

<section id="user-ranking">
    <div class="usuario-info">
        <%= image_tag (@user.profile_photo_url(:thumb)), :class => "img-usuario" if @user.profile_photo.present?%>
        <h2 class="nome-usuario"><%= current_user.name %></h2>
        <h3 class="ej-usuario"><%= current_user.ej.name %></h3>
        <% if current_user.room.present? %>
          <h3 class="inscrito">INSCRITO</h3>
        <% else %>
          <h3 class="nao-inscrito">NÃO INSCRITO</h3>
        <% end %>
        
        <h3 class="quarto-usuario"><%= current_user.room.num.to_s + " " + current_user.room.hotel.name if current_user.room.present? %></h3>
        
        <h3><%= link_to "Palestras Inscritas", workshop_user_path %></h3>
        
        <p>Faltam:</p>
        <p class="countdown" id="demo"></p>
        <p>para o evento</p>
        
        <h3><%= link_to "Editar Usuário", edit_user_path %></h3>
    </div>

    <div class="ranking">
        <h2>Ranking de EJs</h2>
        <% @position = 1 %>
        <table>
          <thead>
            <tr>
              <th>Posição</th>
              <th>EJ</th>
              <th>Quantidade</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @ejs_ordered.each do |ej| %>
              <tr>
                <td><%= @p %></td>
                <td><%= ej.name %></td>
                <td><%= ej.count.to_s %></td>
                <td></td>
              </tr>
              
              <% @p = @p + 1 %>
            <% end %>
          </tbody>
        </table>
        
        <h2>Ranking de Federações</h2>
        <table>
          <thead>
            <tr>
              <th>Posição</th>
              <th>Federação</th>
              <th>Quantidade</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @total.each do |federation| %>
              <tr>
                <td><%= @pp %></td>
                <td><%= federation[0] %></td>
                <td><%= federation[1].to_s %></td>
                <td></td>
              </tr>
              
              <% @pp = @pp + 1 %>
            <% end %>
          </tbody>
        </table>
    </div>
</section>