<% provide(:title, "Transferência | ")%>
<div class="container-edit">
  <h1>Transferência</h1>
  
  <%= form_for(@user, :url => {:action => "set_transfer", params: {id: @user.id}}) do |form| %>
    <header>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </header>
    
    <%= form.text_field :email, id: :receptor_email, :placeholder => "Email para Transferir", :class => "email", :type => "email", :value => "" %><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <%= form.submit "TRANSFERIR" , :class => "button" %>
    
  <% end %>
</div>
