<% provide(:title, "Palestras | ")%>
<h1>Palestras Inscritas</h1>

  <table id="data-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Palestrante</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @workshops.each do |workshop| %>
        <tr>
          <td><%= workshop.name %></td>
          <td><%= workshop.speaker.name %></td>
          <td><%= workshop.start %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
<%= will_paginate @users %>

<br>
<%= link_to "Baixar Tabela", workshop_user_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>