<%= form_with(model: federation, local: true) do |form| %>
  <% if federation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(federation.errors.count, "error") %> prohibited this federation from being saved:</h2>

      <ul>
      <% federation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name, id: :federation_name %>
  </div>

  <div class="field">
    <%= form.label :uf %>
    <%= form.select :uf, @ufs.collect { |uf| [uf, uf] } %><br />
  </div>

  <div class="actions">
    <%= form.submit "Atualizar Federação"%>
  </div>
<% end %>
