<% provide(:title, "Editor | ")%>
<div id="data-table"

<h1>Editar Federações</h1>

<%= render 'form', federation: @federation %>

<%= link_to 'Mostrar', @federation %> |
<%= link_to 'Voltar', federations_path %>

</div>