<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Federações">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">UF</Data></Cell>
      </Row>
    <% @federations.each do |federation| %>
      <Row>
        <Cell><Data ss:Type="String"><%= federation.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= federation.uf %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>