<% provide(:title, "Federações | ")%>
<p id="notice"><%= notice %></p>

<h1>Federações</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>UF</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @federations.each do |federation| %>
      <tr>
        <td><%= federation.name %></td>
        <td><%= federation.uf %></td>
        <td><%= link_to 'Mostrar', federation %></td>
        <td><%= link_to 'Editar', edit_federation_path(federation) %></td>
        <td><%= link_to 'Destruir', federation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @federations %>
<%= link_to 'Nova Federação', new_federation_path %>
<br>
<%= link_to "Baixar Tabela", federations_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>