<% provide(:title, "Federação | ")%>
<div id="data-table">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @federation.name %>
</p><br>

<p>
  <strong>UF:</strong>
  <%= @federation.uf %>
</p><br>

<%= link_to 'Editar', edit_federation_path(@federation) %> |
<%= link_to 'Voltar', federations_path %>
</div>