<%= form_with(model: ej, local: true) do |form| %>
  <% if ej.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ej.errors.count, "error") %> prohibited this ej from being saved:</h2>

      <ul>
      <% ej.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name, id: :ej_name %>
  </div>

  <div class="field">
    Federação: <%= form.select :federation_id, @federations.collect { |federation| [federation.name, federation.id] } %><br />
  </div>

  <div class="actions">
    <%= form.submit "Atualizar EJ" %>
  </div>
<% end %>
