<% provide(:title, "EJs | ")%>
<p id="notice"><%= notice %></p>

<h1>EJs</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Federação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ejs.each do |ej| %>
      <tr>
        <td><%= ej.name %></td>
        <td><%= ej.federation.name %></td>
        <td><%= link_to 'Mostrar', ej %></td>
        <td><%= link_to 'Editar', edit_ej_path(ej) %></td>
        <td><%= link_to 'Destruir', ej, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @ejs %>
<%= link_to 'Nova EJ', new_ej_path %>
<br>
<%= link_to "Baixar Tabela", ejs_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>