<% provide(:title, "EJ | ")%>
<div id="data-table">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @ej.name %>
</p><br>

<p>
  <strong>Federação:</strong>
  <%= @ej.federation.name %>
</p><br>

<%= link_to 'Editar', edit_ej_path(@ej) %> |
<%= link_to 'Voltar', ejs_path %>
</div>