<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Número" %>
    <%= form.number_field :num, id: :room_num %>
  </div>

  <div class="field">
    <%= form.label :capacidade %>
    <%= form.number_field :capacity, id: :room_capacity %>
  </div>
  
  <div class="field">
    Hotel: <%= form.select :hotel_id, @hotels.collect { |hotel| [hotel.name, hotel.id] } %><br />
  </div>

  <div class="actions">
    <%= form.submit "Atualizar Quarto"%>
  </div>
<% end %>
