<% provide(:title, "Quartos | ")%>
<p id="notice"><%= notice %></p>

<h1>Quartos</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Número</th>
      <th>Hotel</th>
      <th>Capacidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.num %></td>
        <td><%= room.hotel.name %></td>
        <td><%= room.capacity %></td>
        <td><%= link_to 'Mostrar', room %></td>
        <td><%= link_to 'Editar', edit_room_path(room) %></td>
        <td><%= link_to 'Destruir', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @rooms %>
<%= link_to 'Novo Quarto', new_room_path %>
<br>
<%= link_to "Baixar Tabela", rooms_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>