<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Quartos">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Número</Data></Cell>
        <Cell><Data ss:Type="String">Hotel</Data></Cell>
        <Cell><Data ss:Type="String">Capacidade</Data></Cell>
      </Row>
    <% @rooms.each do |room| %>
      <Row>
        <Cell><Data ss:Type="String"><%= room.num.to_s %></Data></Cell>
        <Cell><Data ss:Type="String"><%= room.hotel.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= room.capacity.to_s %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>