<% provide(:title, "Quarto | ")%>
<div id="data-table">
<p id="notice"><%= notice %></p>

<p>
  <strong>Número:</strong>
  <%= @room.num %>
</p><br>

<p>
  <strong>Capacidade:</strong>
  <%= @room.capacity %>
</p><br>

<p>
  <strong>Reservas:</strong>
  <%= @room.users.count %>
</p><br>

<%= link_to 'Editar', edit_room_path(@room) %> |
<%= link_to 'Voltar', rooms_path %>
</div>