/*Login*/

body {
    background-color: #32353C;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #9397a3;
}

.container {
    background-color: #272A2F;
    padding: 25px 25px;
    border-radius: 5px;
    width: 320px;
    height: 400px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.title {
    color: #9397a3;
    font-size: 18px;
    font-weight: bold;
}

.email,
.password {
    content: "rest";
    border-bottom: 2px solid #9397a3;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    background: none;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #34B45F;
    outline: none;
}

.button {
    color: white;
    background-color: #34B45F;
    width: 320px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    outline: none;
}

.button:hover{
    background-color: rgba(0, 255, 0, 0.3);;
}

.sing-up,
a {
    float: left;
    font-size: 15px;
    color: #34B45F;
}

.forgot {
    float: right;
    font-size: 15px;
    color: #34B45F;
}

.fblogin {
   transition: background 200ms ease-in-out 0s;
-webkit-transition: background 200ms ease-in-out 0s;
-moz-transition: background 200ms ease-in-out 0s;
-o-transition: background 200ms ease-in-out 0s;
-ms-transition: background 200ms ease-in-out 0s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
margin-top: 12px;
    background-color:#3b5898;
    -webkit-border-top-left-radius:1px;
    -moz-border-radius-topleft:1px;
    border-top-left-radius:1px;
    -webkit-border-top-right-radius:1px;
    -moz-border-radius-topright:1px;
    border-top-right-radius:1px;
    -webkit-border-bottom-right-radius:1px;
    -moz-border-radius-bottomright:1px;
    border-bottom-right-radius:1px;
    -webkit-border-bottom-left-radius:1px;
    -moz-border-radius-bottomleft:1px;
    border-bottom-left-radius:1px;
    text-indent:0;
    display:block;
    color:#ffffff;
    height:50px;
    line-height:50px;
    width: 100%;
    text-decoration:none;
    text-align:center;
}.fblogin:hover {
    background-color:#5177c2;
}.fblogin:active {
    position:relative;
    top:1px;
}

