/*Login

Inscrição

Recuperação de senha*/

body {
    background-color: #32353C;
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    color: #9397a3;
}

.container {
    background-color: #272A2F;
    padding: 25px 25px;
    border-radius: 5px;
    width: 320px;
    height: 450px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container-edit {
    background-color: #272A2F;
    padding: 25px 25px;
    border-radius: 5px;
    width: 320px;
    height: 450px;
    position: absolute;
    margin:auto;
    margin-top: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.title {
    color: #9397a3;
    font-size: 18px;
    font-weight: bold;
}

.email, .nome,
.password {
    content: "rest";
    border-bottom: 2px solid #9397a3;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    background: none;
    width: 300px;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #34B45F;
    outline: none;
}

.button {
    color: white;
    background-color: #34B45F;
    width: 320px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    outline: none;
}

.button:hover{
    background-color: rgba(0, 255, 0, 0.3);;
}

.sing-up,
a {
    float: none;
    text-decoration: none;
    font-size: 15px;
    color: #34B45F;
}

.forgot {
    float: right;
    font-size: 15px;
    color: #34B45F;
}

.fblogin {
   transition: background 200ms ease-in-out 0s;
-webkit-transition: background 200ms ease-in-out 0s;
-moz-transition: background 200ms ease-in-out 0s;
-o-transition: background 200ms ease-in-out 0s;
-ms-transition: background 200ms ease-in-out 0s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
text-shadow: 0 1px 0 rgba(122, 122, 122, 0.85);
margin-top: 12px;
    background-color:#3b5898;
    -webkit-border-top-left-radius:1px;
    -moz-border-radius-topleft:1px;
    border-top-left-radius:1px;
    -webkit-border-top-right-radius:1px;
    -moz-border-radius-topright:1px;
    border-top-right-radius:1px;
    -webkit-border-bottom-right-radius:1px;
    -moz-border-radius-bottomright:1px;
    border-bottom-right-radius:1px;
    -webkit-border-bottom-left-radius:1px;
    -moz-border-radius-bottomleft:1px;
    border-bottom-left-radius:1px;
    text-indent:0;
    display:block;
    color:#ffffff;
    height:50px;
    line-height:50px;
    width: 100%;
    text-decoration:none;
    text-align:center;
    border-radius: 5px;
}.fblogin:hover {
    background-color:#5177c2;
}.fblogin:active {
    position:relative;
    top:1px;
}

.ej-escolha{
    width: 100%;
    height: 8px;
    color: #9397a3;
}

.ej-select{
    width: 100px;
    height: 20px;
    margin-bottom: 8px;
    background:#fff;
    color: #34B45F
}

.ej-select option:hover{
    border:0px solid;
}

/*Menu*/


.menu {
    background: #272A2F;
    padding: 20px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after, .menu-container::before {
    content: '';
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
    color:#fff;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
    transition: 0.4s;
}

.menu-nav a:hover{
    border-bottom: 1px solid green; 
    transition: 0.4s;
}

@media (max-width: 739px) {
    .menu {
        text-align: center;
    }
    a.menu-logo {
        float: none;
        margin: 0 auto;
    }
    .menu-nav {
        float: none;
        clear: both;
    }
}

/*Conteudo Home*/

.usuario-info{
    background:#272A2F;
    width: 300px;
    height: 500px;
    float: left;
    margin: 30px 30px;
    border-radius: 5px;
    padding-top: 5px;
    border-top: 3px solid #34B45F
}

.countdown{
    text-align: center;
    font-size: 20px;
}

.img-usuario{
    width: 150px;
    height:150px;
    border-radius: 50%;
}

.img-hotel{
    width: 150px;
    height:150px;
    border-radius: 50%;
}

table{
    margin: auto;
}

.ranking{
    background:#272A2F;
    width: 700px;
    height: 500px;
    float: right;
    margin: 30px 30px;
    border-radius: 5px;
    border-top: 3px solid #34B45F
}

@media(max-width: 1120px){
    .usuario-info{
        width: 70%;
        height: 500px;
        float: none;
        margin:auto;
        display: block;
        }
    .ranking{
        width: 70%;
        height: 500px;
        float: none;
        margin:auto;
        display: block;
    }
}

/*Acomodacoes*/

.acomodacoes-usuario{
    background:#272A2F;
    width: 32%;
    height: 500px;
    float: left;
    margin:30px 6.5px;
    border-radius: 5px;
    padding-top: 5px;
    border-top: 3px solid #34B45F

}

.acomodacoes-usuario img{
    border-radius: 50%;
}

.btn-hospedar{
    padding: 10px;
    background:green;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}
.btn-hospedar:hover{
    background: #34B45F;
    transition: 0.4s;
}
#acomodacoes select{
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    background:#fff;
    color: #34B45F
}

h2,h3,li{
    color: #fff;
}

p{
    color:#fff;
    max-width: 200px;
    margin: auto;
}

.clear{
    clear: both;
}

@media(max-width: 1024px){
    .acomodacoes-usuario{
        width: 70%;
        height: 500px;
        float: none;
        margin:auto;
        display: block;
        }
}

@media(max-width: 460px){
    .acomodacoes-usuario{
        width: 70%;
        height: 550px;
        float: none;
        margin:auto;
        display: block;
        }
}

@media(max-width: 320px){
    .acomodacoes-usuario{
        width: 70%;
        height: 600px;
        float: none;
        margin:auto;
        display: block;
        }
}
/*Palestras*/

.palestras-usuario{
    background:#272A2F;
    width: 32%;
    height: 500px;
    float: left;
    margin:30px 6.5px;
    border-radius: 5px;
    padding-top: 5px;
    border-top: 3px solid #34B45F
}

.arquivos-usuario{
    padding: 10px;
    background:green;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

.btn-palestra{
    padding: 10px;
    background:green;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}
/*.btn-palestra:hover{*/
/*    background: #34B45F;*/
/*    transition: 0.4s;*/
/*}*/

.prog-botoes{
    display:flex;
    flex-direction:column;
    align-items:center;
}

@media(max-width: 1024px){
    .palestras-usuario{
        width: 70%;
        height: 500px;
        float: none;
        margin:auto;
        display: block;
        }
}

@media(max-width: 460px){
    .palestras-usuario{
        width: 70%;
        height: 550px;
        float: none;
        margin:auto;
        display: block;
        }
}

@media(max-width: 320px){
    .palestras-usuario{
        width: 70%;
        height: 600px;
        float: none;
        margin:auto;
        display: block;
        }
}

/*Tabelas de ADM*/

#data-table_wrapper{
    position: relative;
    clear: both;
    zoom: 1;
    width: 60%;
    background:#272A2F;
    height: 250px;
    float: none;
    margin: auto;
    padding:15px;
    border-radius: 5px;
    border-top: 3px solid #34B45F
}

#data-table{
    position: relative;
    clear: both;
    zoom: 1;
    width: 60%;
    background:#272A2F;
    height: 250px;
    float: none;
    margin: auto;
    margin-top:20px;
    padding:15px;
    border-radius: 5px;
    border-top: 3px solid #34B45F
}

@media(max-width: 1024px){
    #data-table_wrapper{
        width:80%;
        height: 500px;
    }
    
    #data-table{
        width: 80%;
        height: 500px;
    }
}

@media(max-width: 460px){
    #data-table_wrapper{
        width:80%;
        height: 500px;
    }
    
    #data-table{
        width: 80%;
        height: 500px;
    }
}

@media(max-width: 320px){
    #data-table_wrapper{
        width:80%;
        height: 500px;
    }
    
    #data-table{
        width: 80%;
        height: 500px;
    }
}

tbody td{
    background:#272A2F;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #9397a3;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #9397a3 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

/*Editar usuario foto*/

input[type="file"] {
    margin: 10px;
}

#form-edit{
    position: relative;
    clear: both;
    zoom: 1;
    width: 50%;
    background: #272A2F;
    height: 330px;
    float: none;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    border-top: 3px solid #34B45F;
}

.field {
    margin: 10px;
}

.actions {
    margin-bottom: 10px;
}

.alert.alert-notice{
    color:green;
    width:20px;
    height:5px;
}

.inscrito {
    color: #30B45F;
}

.nao-inscrito {
    color: #e74c3c;
}