<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name, id: :hotel_name %>
  </div>
  
  <div class="field">
    <%= form.label "Descrição" %>
    <%= form.text_area :content, id: :hotel_content %>
  </div>
  
   Foto: <%= form.file_field :profile_photo %><br />

  <div class="actions">
    <%= form.submit "Atualizar Hotel" %>
  </div>
<% end %>
