<% provide(:title, "Hotéis | ")%>
<p id="notice"><%= notice %></p>

<h1>Hotéis</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= link_to 'Mostrar', hotel %></td>
        <td><%= link_to 'Editar', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destruir', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @hotels %>
<%= link_to 'Novo Hotel', new_hotel_path %>
<br>
<%= link_to "Baixar Tabela", hotels_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>