<% provide(:title, "Hotel| ")%>
<div id="data-table">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @hotel.name %>
</p><br>

<p><%= image_tag @hotel.profile_photo_url if @hotel.profile_photo.present?%>
</p><br>

<%= link_to 'Editar', edit_hotel_path(@hotel) %> |
<%= link_to 'Voltar', hotels_path %>
</div>