<% provide(:title, "Editor | ")%>
<div id="data-table">

<h1>Editar Palestrantes</h1>

<%= render 'form', speaker: @speaker %>

<%= link_to 'Mostrar', @speaker %> |
<%= link_to 'Voltar', speakers_path %>

</div>