<% provide(:title, "Palestrantes | ")%>
<p id="notice"><%= notice %></p>

<h1>Palestrantes</h1>

<table id="data-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.name %></td>
        <td><%= link_to 'Mostrar', speaker %></td>
        <td><%= link_to 'Editar', edit_speaker_path(speaker) %></td>
        <td><%= link_to 'Destruir', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @speakers %>
<%= link_to 'Novo Palestrante', new_speaker_path %>
<br>
<%= link_to "Baixar Tabela", speakers_path(format: "xls") %>

<script>
  $("#data-table").DataTable({});
</script>