<% provide(:title, "Palestrante | ")%>
<div id="data-table">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @speaker.name %>
  </p><br>

<p><%= image_tag @speaker.profile_photo_url(:thumb) if @speaker.profile_photo.present?%> </p><br>

<%= link_to 'Editar', edit_speaker_path(@speaker) %> |
<%= link_to 'Voltar', speakers_path %>
</div>