<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>EFEJ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_page?(login_path) &&  !current_page?(new_user_path) && !current_page?(password_recovery_path) && !current_page?('/')%>
      <header class="menu">
        <% if current_user.admin %>
            <div class="menu-container">
                <a class="menu-logo" href="#"><img class="logo-img" src="#" alt="Gerenciador"></a>
                <nav class="menu-nav">
                    <ul>
                      <li><%= link_to "Usuários", users_path %> </li>
                      <li><%= link_to "EJs", ejs_path %> </li>
                      <li><%= link_to "Federações", federations_path %> </li>
                      <li><%= link_to "Hotéis", hotels_path %></li>
                      <li><%= link_to "Quartos", rooms_path %></li>
                      <li><%= link_to "Palestrantes", speakers_path %></li>
                      <li><%= link_to "Palestras", workshops_path %></li>
                      <li><%= link_to "Transferências", history_transfer_path %> </li>
                    </ul>
                </nav>
            </div>
        <% end %>
        <div class="menu-container">
            <a class="menu-logo" href="#"><img class="logo-img" src="#" alt="Logo"></a>
            <nav class="menu-nav">
                <ul>
                   <li><%= link_to "Home", user_path(current_user) %> </li>
                    <li><%= link_to "Acomodações", local_path(current_user) %></li>
                    <li><%= link_to "Programação", register_path(current_user) %></li>
                    <li><%= link_to "Transferir", transfer_path(current_user) %></li>
                    <li><% if logged_in? %>
                      <%=link_to "Sair", logout_path, method: :delete %></p>
                    <% end %></li>
                </ul>
            </nav>
        </div>
      </header>
    <% end %>
    <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
    <%= yield %>
  </body>
</html>
